<% provide(:title, "HOME") %>

<div class="center jumbotron">
  <h1>BLLTN</h1>
    <h2>
      share messages with your office, community, or other social group
    </h2>

    <%= link_to "log in", '#', class: "btn btn-primary outline btn-lg" %>
    <br>
    <%= link_to "join", join_path, class: "btn btn-primary outline btn-lg" %>

</div>
