<footer class="footer">
  <small>
    made by flan the dev
  </small>
  <nav>
    <ul>
      <li><a href="https://flanthedev.wordpress.com/" target="_blank">wordpress</a></li>
      <li><a href="https://github.com/flanthedev" target="_blank">github</a></li>
      <li><a href="https://twitter.com/flanthedev" target="_blank">twitter</a></li>
    </ul>
  </nav>
</footer>
