<% provide(:title, "ALL BOARDS") %>

<div class="row">
  <div class='col-md-4'>
    <h3>BOARDS</h3>
    <div id='board'>
      <p><%= link_to "Create a Board", new_board_path, remote: true %></p>
    </div>
  </div>
  <div class="col-md-8">
    <%= render boards %>
  </div>
</div>
