<h3>Posts (<%= @board.posts.count %>) </h3>
  <ol>
    <% @board.posts.each do |post| %>
      <li>
        <span><%= post.content %></span>
        <br>
        <span>
          posted <%= time_ago_in_words(post.created_at) %> ago
          by <%= link_to post.user.name, post.user %>
        </span>
      </li>
    <% end %>
  </ol>
