<% provide(:title, "EDIT BOARD") %>

<h1>edit board</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'boards/form', board: @board, button_text: 'EDIT' %>

    <%= button_to "delete board", @board, method: :delete,
                                  class: 'btn btn-lg',
                                  data: { confirm: "are you sure?" } %>

    <%= button_to "back to board", board_path(@board),
                                    method: :get, class: "btn btn-lg" %>

  </div>
</div>
