<% provide(:title, "ALL BOARDS") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h2><%= link_to "Create a Board", new_board_path %></h2>

      <ul>
        <% @boards.each do |board| %>
          <li>
            <h1><%= link_to "#{board.name}", board_path(board.id) %></h1>
            <p><%= "#{board.info}" %></p>
          </li>
        <% end %>
      </ul>

    </section>
  </aside>
</div>
