/* mixins and variables */

$primary: #428bca;
$success: #5cb85c;
$info: #5bc0de;
$default: #f9f9f9;
$danger: #fb8b88;
$white: #ffffff;
$thisgray: #dadada;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* custom bootstrap buttons */

.btn {
  padding: 14px 24px;
  margin: 10px 0;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $primary;
  background: none;
  border: 5px solid $primary;
  &:hover, &:active {
    color: $success;
    background: none;
    border-color: $success;
  }
}
.btn-lg {
  min-width: 200px;
}

/* universal */

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
#content-body {
  margin-top: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h1, .jumbotron h1 {
  font-weight: bold;
  font-size: 4em;
  color: $primary;
  letter-spacing: 10px;
  text-align: center;
}
.jumbotron {
  background-color: $thisgray;
  }
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* links */
a:hover {
  color: $success;
  text-decoration: none;
}

/* header */

#logo {
  float: left;
  margin: 10px auto;
  font-size: 40px;
  line-height: 40px;
  color: $primary;
  letter-spacing: 10px;
  font-weight: bold;
  &:hover {
    color: $success;
  }
}

.nav a {
    margin: 5px auto;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav {
  li > a, .dropdown > .dropdown-menu > li {
    float: right;
    color: $primary;
    width: 100%;
    a {
      text-align: right;
    }
    &:hover {
      color: $success;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
  color: $primary;
  small, ul {
    float: right;
    li {
      float: right;
      vertical-align: text-top;
      float: left;
      margin: 0 2px;
      list-style: none;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: 10px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    li {
      list-style: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
label {
  text-transform: uppercase;
  letter-spacing: 2px;
}
input {
  height: auto !important;
}
#error_explanation {
  color: $danger;
  ul {
    color: $danger;;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $danger;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
  vertical-align: text-bottom;
}
#join-now {
  float: right;
}

/* flash hash messages */

.alert-success {
  background-color: $success;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.alert-danger {
  background-color: $danger;
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
