$primary: #428bca;
$success: #5cb85c;
$info: #5bc0de;
$default: #f9f9f9;
$white: #ffffff;
$thisgray: #cfcfcf;

/* custom bootstrap buttons */


.btn {
    padding: 14px 24px;
    margin: 10px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn-primary {
    background: $default;
    color: $white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $success;
}
.btn-primary:active, .btn-primary.active {
    background: $default;
    box-shadow: none;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 5px solid $primary;
	color: $primary;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: $success;
	border-color: $success;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: $default;
	color: $default;
  background: $default;
}

/* universal */

body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-bottom: 20px;
}
h1, .jumbotron h1 {
  font-weight: bold;
  font-size: 4em;
  color: $primary;
  letter-spacing: 10px;
  text-align: center;
}
.jumbotron {
  padding-bottom: 100px;
  background-color: $thisgray;
  }

h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: normal;
  color: #494949;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* links */
a:hover {
  color: $success;
  text-decoration: none;
}
.navbar-default .navbar-nav {
  li > a, .dropdown > .dropdown-menu > li > a  {
    color: $primary;
    &:hover {
      color: $success;
    }
  }
}


/* header */

#logo {
  float: left;
  margin: 10px auto;
  font-size: 40px;
  line-height: 40px;
  color: $primary;
  letter-spacing: 10px;
  font-weight: bold;
}
.nav a {
  margin: 5px auto;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $primary;
  small{
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-right: 15px;
    }
  }
}
